/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Road Rage', cursive; */

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-image: url(../images/Galeria/fondoprincipal.png);
    background-repeat: no-repeat;
    background-size: 1400px 1200px;
}

header{
    background-color: rgb(0, 0, 0);
    background-image: url(/images/fondo.png);
    background-repeat: no-repeat;
    padding: 1 em 0; 
}

header h1{
    color: rgb(40, 29, 199);
    text-shadow: 0 0 5px #fff;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 400;
    display: inline-block;
    position: static;
    bottom: 50px;
}

nav{
    background-color: #6e30d3;
    margin-bottom: 2em;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    width: 13.9%;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:active{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 5px 5px 10px black;
    font-size: 0.9em;
}

footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}

nav ul li a.activo{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 5px 5px 10px black;
    font-size: 0.9em;
}

.holder{
    max-width: 1200px;
    margin: 0 auto;
}

/* INICIO PAGINA PRINCIPAL */

h2{
    color: #2e64a1;
    font-weight: 400;
    margin: 10px 0 0.5em;
    font-size: 2.3em;
}

p{
    margin-bottom: 2.5em;
    font-size: 1em;
}

.left{
    float: left;
}

.right{
    float: right;
}

.homeimg{
    margin-bottom: 1.5em;
}

.columnas{
    overflow: hidden;
}

.bienvenidos, .testimonios{
    box-sizing: border-box;
}

.bienvenidos{
    width: 75%;
    padding-right: 2em;
}

.testimonios{
    width: 25%;
}

.testimonio{
    background-color: #ccc;
    padding: 1em;
}

.testimonios .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
    display: block;
}

.testimonio .autor{
    font-size: 0.7em;
    text-align: center;
    margin: 1 em 0;
    display: block;
}

/* FIN PAGINA PRINCIPAL */

/* INICIO ZONAS Y TARIFAS */

.zona{
    width: 350px;
    height: 200px;
    position: relative; 
    float: left;
    margin: 1.5em;
    display: flex;
    justify-content: space-evenly;
  }
  
.zona a {
    margin: auto;  
    color: #fff;
    text-align: center;    
    line-height: 200px;     
    background: #000;
    transition: opacity .4s linear;
    cursor: pointer;  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
  
.zona:hover a {
    opacity: .75;  
  }

.btn-open-popup{
    text-decoration: none;
}

.container-all{
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
}

.container-all:target{
    background-color: rgba(0, 0, 0, 0.8);
    visibility: visible;
    opacity: 1;
}

.popup{
    width: 100%;
    max-width: 900px;
    height: 500px;
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 .img0{
     width: 100%;
     background-image: url(../img/Tarifas/zona\ norte.png);
     background-size: contain;
     background-repeat: no-repeat;
     border-radius: 30px;   
     box-shadow: 0px 0px 30px white; 
 }

 .img1{
    width: 100%;
    background-image: url(../img/Tarifas/zona\ oeste.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30px; 
    box-shadow: 0px 0px 30px white;   
}

.img2{
    width: 100%;
    background-image: url(../img/Tarifas/zona\ sur.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30px;
    box-shadow: 0px 0px 30px white;   
}
 .btn-close-popup{
     width: 10px;
     height: 10px;
     position: absolute;
     padding: 10px;
     top: -20px;
     right: -20px;
     background-color: black;
     color: white;
     border-radius: 50%;
     line-height: 15px;
     text-decoration: none;
     border-width: medium;
     border-color: white;
     border-style: double;
     box-shadow: 0px 0px 30px white; 
 }

/* FIN ZONAS Y TARIFAS */

/* INICIO SECCION SERVICIOS */

.Servicio{
    border: 3px solid gray;
    border-radius: 0.7em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}

.Servicio .info{
    width: 75%;
}

.Servicio .info h4{
    color: #2e64a1;
    font-size: 2.5em;
    font-family: 'Road Rage', cursive;
    font-weight: 500;
    margin: 0 0 0.1em;
    border-bottom: 2px solid #2e64a1;
    padding-bottom: 0.1em;
}

.Servicio .info p{
    font-size: 1em;
    line-height: 1.2em;
    text-shadow: 0 0 2px white;
    font-weight: bold;
}

.Servicio img{
    border-radius: 0.8em;
    width: 270px;
    height: 150px;
    box-shadow: 5px 5px 10px black;
}

.Servicio:nth-child(even) img{
    float: right;
    margin: 0 0 0 1em;
}

.Servicio:nth-child(even) .info{
    float: left;
}

.Servicio:nth-child(odd) img{
    float: left;
    margin: 0 1em 0 0;
}

.Servicio:nth-child(odd) .info{
    float: right;
}
/* FIN SECCION SERVICIOS */

/* INICIO GALERIA */

.linea{
    background: #6e30d3;
    height: 5px;
    width: 100%;
    display: block;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.galeria img{
    width: 100%;
    height: 150px;
    vertical-align: top;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img{
    width: 75vw;
    max-height: 95vh;
    border-radius: 30px;
    box-shadow: 0px 0px 30px white;  
}

.light-box:target{
    transform: scale(1);
}

.close{
    width: 10px;
     height: 10px;
     position: absolute;
     padding: 10px;
     top: 1px;
     right: 140px;
     background-color: black;
     color: white;
     border-radius: 50%;
     line-height: 15px;
     text-decoration: none;
     border-width: medium;
     border-color: white;
     border-style: double;
     box-shadow: 0px 0px 30px white; 
}

.next{
    display: block;
    color:#6e30d3;
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    text-shadow: 0 0 5px white    
}

.next:hover{
    font-size: 60px;
    text-shadow: 0 0 10px white;
    transition: 0.3s;
}
/* FIN GALERIA */

/* INICIO SECCION NOSOTROS */

.Historia p{
    font-size: 1.2em;
}

.staff{
    overflow: hidden;
}

.situacion{
    width: 30%;
    border: 1px solid gray;
    border-radius: 0.25em;
    float: left;
    margin-left: 2.25%;
    box-sizing: border-box;
}

.situacion{
    text-align: center;
}

.situacion img{
    border-radius: 30px;
    box-shadow: 0 0 5px black;
    margin: 0.8em 0 1em;
    max-width: 70%;
    width: 300px;
    height: 250px;
}

.situacion h5,
.situacion h6{
    text-align: center;
    font-weight: normal;
    color: blueviolet;
    margin: 0;
    text-shadow: 1px 1px 0 black;
}

.situacion h5{
    font-size: 1.1em;
}

.situacion h6{
    font-size: 1em;
    font-style: italic;
}

.situacion p{
    font-size: 0.9em;
    color: black;
    margin: 0 1em 1em;
}
/* FIN SECCION NOSOTROS */

/* INICIO SECCION CONTACTO */

.columna{
    width: 50%;
    box-sizing: border-box;
    padding: 0.6em;
}

.columna .left{
    border-right: 1px solid gray;
}

.columna .right p{
    font-size: 0.9em;
}

.columna .right ul li{
    font-size: 0.8em;
}

.formulario label{
    vertical-align: top;
    width: 20%;
    display: inline-block;
}

.formulario input,
.formulario textarea{
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 0.4em 0.6em;
    font-size: 0.8em;
    width: 70%;
}

.formulario input[type="submit"]{
    background-color: #6da9ed;
    box-shadow: 0 0 10px black;
    color: white;
    font-size: 1em;
    width: auto;
    cursor: pointer;
}

.formulario textarea{
    height: 10em;
    resize: none;
}

.formulario .acciones{
    text-align: center;
}
/* FIN SECCION CONTACTO */

/* INICIO NOVEDADES */

.video{
    font-family: 'Road Rage', cursive;
    font-size: 2em;
    font-weight: lighter;
    color: #a025c5;
    text-shadow: 0 0 2px black;
}


/* FIN NOVEDADES */